@import "../state/is-active";
@import "../base/variables";

@keyframes animated-menu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  #btn-checkbox {
    display: none;
  }

  .material-icons {
    color: $main-color;
    display: none;
    font-size: 30px;
    margin-right: 20px;
    margin: 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &__logo {
    color: $main-color;
    border: 1px solid $main-color;
    font-family: "Crimson Pro", serif;
    font-size: 14px;
    margin: 42px 77px;
    padding: 8px 3px;
    text-transform: uppercase;
  }

  &__menu {
    background-color: $background-color;
    margin-right: 77px;
    transition: all 0.5s ease;

    .menu__items {
      display: flex;

      .menu__item {
        margin: 0 20px 0 0;
        padding: 5px;
        transition: transform 0.3s ease;

        .item__link {
          font-family: "Montserrat", sans-serif;
        }
      }

      .menu__item:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .nav {
    &__logo {
      margin: 20px 20px;
    }

    &__menu {
      align-items: center;
      display: none;
      height: 100%;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;

      .menu__items {
        flex-direction: column;
      }
    }

    #btn-checkbox:checked + .nav__menu {
      animation-duration: 0.2s;
      animation-name: animated-menu;
      display: flex;
      margin: 0;
    }

    .material-icons {
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 375px) {
  .nav {
    &__menu {
      align-items: center;
      display: none;
      height: 100%;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      .menu__items {
        flex-direction: column;
      }
    }

    #btn-checkbox:checked + .nav__menu {
      display: flex;
    }

    .material-icons {
      display: inline-block;
    }
  }
}
