@import "../base/variables";

.text {
  width: 40%;

  &__title {
    color: $main-color;
    font-family: "Lora", serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__paragraph {
    color: $main-color;
    font-family: "montserrat";
    font-weight: 300;
    margin-bottom: 48px;
    width: 70%;
  }

  &__link {
    align-items: center;
    color: $main-color;
    display: flex;
    font-family: "montserrat";
    font-size: 18px;
    font-weight: 500;

    .material-icons {
      margin-left: 15px;
    }
  }
}
