@import "../module/text";
@import "../module/image";

.main {
  // background-color: violet;
  max-height: 555px;
  max-width: 1440px;
  width: 100vw;
  justify-content: space-around;
  height: auto;
  display: flex;
  padding: 0 77px 0 50px;
  margin: 174px 0 0 0;
}
