@import "../module/text";
@import "../module/image";

.main {
  display: flex;
  height: auto;
  justify-content: space-around;
  max-height: 555px;
  max-width: 1440px;
  margin: 174px 0 200px 0;
  padding: 0 77px 0 50px;
  width: 100vw;
}
